body {
    font-family: fantasy;
    background-color: rgba(0, 0, 0, 0.892);
    text-align: center;
}

.game-title {
    font-size: 100px;
    color: blueviolet;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    outline: 2px solid rgb(27, 1, 29);
    font-size: 35px;
    background-color: rgb(40, 5, 56);
    border: 7px solid rgb(7, 255, 3);
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    color: aliceblue;
}

.data {
    text-align: center;
    background-color: rgb(98, 24, 168);
    padding: 3px;
    margin: 10px;
}

.smiley {
    cursor: pointer;
}

.timer {
    color: rgb(7, 255, 3)
}

.difficultys {
    padding: 5px;
    outline: 2px solid rgb(27, 1, 29);
    background-color: rgb(87, 12, 123)
}

.button {
    background-color: rgb(20, 1, 29);
    color: rgb(106, 6, 199);
    font-size: 30px;
    cursor: pointer;
}

table {
    border-spacing: 2px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;

}

.board-game td {
    outline: 2px solid rgb(27, 1, 29);
    background-color: rgb(55, 3, 79);
    width: 36px;
    height: 36px;
    font-size: 27px;
    color: rgb(7, 255, 3);
    border: 1px solid rgb(7, 255, 3);
    border-radius: 0.2%;
}

.board-game .cover {
    outline: 2px solid rgb(27, 1, 29);
    background-color: rgb(67, 3, 96);
    width: 30px;
    height: 30px;
    font-size: 21px;
    border: 1px solid rgb(6, 0, 7);
    border-radius: 0.2%;
    cursor: pointer;
}

.board-game .explode {
    background-color: rgb(48, 5, 5);
    font-size: 24px;
}

.game-over-modal {

    margin: auto;
    background-color: rgb(67, 3, 96);
    border: 4px solid rgba(11, 193, 123, 0.24);
    margin-top: 3%;

    width: 50%;
    height: auto;
    padding: 20px;
    border-radius: 10px;

}

.modal-msg {
    color: aliceblue;
}

.hide {
    display: none;
}

.hint {
    background-color: rgb(50, 24, 168);
    cursor: pointer;
}

.use {
    background-color: rgb(209, 18, 18);
}